<% folders.map(folder => { %>
<div style="display: flex; justify-content: space-between">
  <div>
    <% if (locals.shared && locals.sharedLink) { %>
     <a href="/share/<%= sharedLink %>/<%= folder.id %>">
      <button><%= folder.name %></button>
     </a>
    <% } else {%>
    <a href="/folder/<%= folder.id %>">
      <button><%= folder.name %></button>
    </a>
    <% } %>
  </div>
  <% if (!locals.shared) { %>
    <div style="display: flex">
      <form action="/folder/update" method="post">
        <input type="hidden" name="id" value="<%= folder.id %>" />
        <input type="hidden" name="currentFolderId" value="<%= folderId %>" />
        <input type="text" name="name" id="name" />
        <button type="submit">Rename</button>
      </form>
      <form action="/folder/delete" method="post">
        <input type="hidden" name="id" value="<%= folder.id %>" />
        <input type="hidden" name="currentFolderId" value="<%= folderId %>" />
        <button type="submit">Delete</button>
      </form>
    </div>
  <% } %>
</div>
<% }) %>
